body, html {
    height: 100%;
    scroll-behavior: smooth;
    /*font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;*/
}

.tile {
    height: 80%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.nav-item {
    text-transform: uppercase;
    text-decoration: none;
    font: bold 15px/1.4 'Open Sans', arial, sans-serif;
}

#section1 {
    background-color: #311E25;
    color: white;
}

.lightOpacity {
    opacity: 0.6;
}

.bigText {
    font-family: 'Helvetica Neue', fantasy;
}

#preTitle {
    opacity: 0.8;
    color: #fffd80;
}

#homepicture {
    float: left;
    height: 400px;
}

/* About Me*/
#aboutmeText {
    width: 100%;
}

.aboutcontainer {
    width: 40%;
    float: left;
}

.aboutPic {
    width: 60%;
    float: left;
}

/* screen larger than 600px -- desktop */
@media screen and (min-width: 1201px) {
    .tile {
        min-height: 530px;
    }

    #section1 {
        padding-top: 200px;
    }

    #preTitle {
        font-size: 35px;
    }

    #titleText {
        font-size: 80px;
    }

    #subTitleText {
        font-size: 50px;
    }

    #meaningFullSentence {
        width: 40%;
    }
}

/* Screen smaller than 600px -- mobile */
@media screen and (max-width: 1200px) {
    /*background color of collapsed navbar*/
    .navbar-nav {
        background: #311E25;
    }

    .tile {
        min-height: 300px;
    }

    #section1 {
        padding-top: 100px;
        height: 90%;
    }

    #preTitle {
        font-size: 15px;
    }

    #titleText {
        font-size: 30px;
    }

    #subTitleText {
        font-size: 20px;
    }

    #meaningFullSentence {
        width: 100%;
        font-size: 13px;
    }

    #homepicture {
        height: 300px;
        width: 100%;
    }

    /* About Me*/
    #aboutmeText {
        width: 100%;
    }
}